

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  flex-direction: column;
}

.count-value {
  width: 100%;
  text-align: center;
}